@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

.App {
  font-family: Roboto;
  text-align: center;
}

.prod1 {
  height: 500px;
  width: 300px;
}

.prod1:hover {
  border: 1px solid rgba(121, 129, 120, 0.4);
  margin: -1px;
}

.prod2 {
  background: green;
  height: 500px;
  width: 300px;
}

.prod3 {
  background: blue;
  height: 500px;
  width: 300px;
}

.gridContainer {
  display: grid;
  grid-template: 500px / 300px 300px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.ProductImage {
  object-fit: cover;
  margin-top: 10px;
  width: 200px;
  height: 150px;
}

@media (min-width: 800px) {
  .gridContainer {
    grid-template: 500px / 300px 300px 300px;
  }
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
}

.titleStyle {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

.skuStyle {
  font-weight: 300;
  font-size: 13px;
  text-align: left;
}

.priceStyle {
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  margin-top: 40px;
}

.stockStyle {
  font-weight: 400;
  font-size: 10px;
  text-align: left;
  margin-top: 40px;
}
